.logo1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #000000;
}


.textcenter {
    text-align: center;
    }

.services {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #000000;
}